{% block history_balance %}
<br>
<!-- FILTER -->
<h3 class="text-center">Change Balance:</h3>
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button text-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Change balance filter
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <form method="get" action="/{% if user %}user_{% endif %}history_balance/{{user.uuid}}{{ params|get_urlencode }}">
            <!-- Row first -->
            <div class="row justify-content-start">
              {% if user %}
              
            <input type="hidden" name="user_uuid" value="{{user.uuid}}">
            {% else %}
            <div class="col-md-4 mb-3"> 
            <label for="state">User UUID:</label>
            <input type="text" name="user_uuid" class="form-control" placeholder="Enter user UUID"  aria-label="User UUID"
                           {% if history_balance_search.user_uuid %}
                           value="{{history_balance_search.user_uuid}}"
                           {% endif %}>
                          </div>
            {% endif %}
                <div class="col-md-4 mb-3">
                    <!-- SELECT TYPE -->
                    <label for="state">Type:</label>
                    <select name="type" class="form-select" aria-label="Default select example">
                        <option value="" {% if history_balance_search.type == None %} selected {% endif %}>Type</option>
                        <option value="topup" {% if history_balance_search.type == 'topup'%} selected {% endif %}>Top Up</option>
                        <option value="withdraw" {% if history_balance_search.type == 'withdraw'%} selected {% endif %}>Withdraw</option>
                    </select>
                    <!-- END SELECT TYPE -->
                  </div>
                <div class="col-md-4 mb-3">
                  <!-- INPUT AMOUNT -->
                  <label for="zip">Amount:</label>
                  <div class="input-group mb-3">
                    <input type="number" name="min_amount" class="form-control" placeholder="0"  aria-label="Min balance" step="any"
                           {% if history_balance_search.min_amount %}
                           value="{{history_balance_search.min_amount}}"
                           {% endif %}
                           >
                    <span class="input-group-text">to</span>
                    <input type="number" name="max_amount" class="form-control" 
                    placeholder={% if history_balance_search.max_amount_show %}"{{history_balance_search.max_amount_show}}"{% else %}0{% endif %} 
                    aria-label="Max balance" step="any"
                           {% if history_balance_search.max_amount %}
                           value="{{ history_balance_search.max_amount }}"
                           {% endif %}
                           >
                    <!-- END INPUT AMOUNT -->
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <!-- INPUT HASH -->
                  <label for="zip">Hash:</label>
                  <div class="input-group mb-3">
                    <textarea name="hash" class="form-control" id="" cols="15" rows="1">{% if history_balance_search.hash != None %}{{history_balance_search.hash}}{% endif %}</textarea>
                    <!-- END INPUT HASH -->
                  </div>
                </div> 
                
                
                <div class="col-md-4 mb-3">
                  <!-- INPUT WALLET -->
                  <label for="zip">Wallet:</label>
                  <div class="input-group mb-3">
                    <textarea name="wallet" class="form-control" id="" cols="15" rows="1">{% if history_balance_search.wallet != None %}{{history_balance_search.wallet}}{% endif %}</textarea>
                    <!-- END INPUT WALLET -->
                  </div>
                </div>

                <div class="col-md-4 mb-3">
                  <!-- INPUT CODE -->
                  <label for="zip">Code:</label>
                  <div class="input-group mb-3">
                    <textarea name="code" class="form-control" id="" cols="15" rows="1">{% if history_balance_search.code != None %}{{history_balance_search.code}}{% endif %}</textarea>
                    <!-- END INPUT CODE -->
                  </div>
                </div>
              
                <div class="col-md-4 mb-3">
                  <!-- SELECT TYPE -->
                  <label for="state">State:</label>
                  <select name="state" class="form-select" aria-label="Default select example">
                      <option value = "" {% if history_balance_search.state == None %} selected {% endif %}>State</option>
                      <option value="created" {% if history_balance_search.state == 'created'%} selected {% endif %}>Created</option>
                      <option value="done" {% if history_balance_search.state == 'done'%} selected {% endif %}>Done</option>
                      <option value="cancelled" {% if history_balance_search.state == 'cancelled'%} selected {% endif %}>Cancelled</option>
                  </select>
                  <!-- END SELECT TYPE -->
                </div>
                  <div class="col-md-4 mb-3">
                  <label for="basic-url" class="form-label">Created at</label>
                  <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon3">From</span>
                  <input type="datetime-local" name="min_created_at" class="form-control" id="basic-url" aria-describedby="basic-addon3" 
                         value={{history_balance_search.min_created_at}}>
                  </div>
                  <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon3">To</span>
                  <input type="datetime-local" name="max_created_at" class="form-control" id="basic-url" aria-describedby="basic-addon3"
                          value={{history_balance_search.max_created_at}}>
              </div>
              </div>
              <div class="text-center">
                  <button type="submit" class="btn btn-success">Search</button>
                  <a class="btn btn-secondary" href="/{% if user %}user_{% endif %}history_balance/{{user.uuid}}" role="button">Deafult</a>
              </div>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<!-- END FILTER -->
<br>
<div class="table-responsive">
<table class="table table-striped">
    <thead>
      <tr class="text-center">  
        <th scope="col">#</th>
        {% if not user %}
        <th scope="col">User</th>
        {% endif %}
        <th scope="col">Type</th>
        <th scope="col">Amount
          <div class="btn-group">
            <div class="dropdown">
              <button class="btn btn-{% if 'amount' not in order_by and '-amount' not in order_by %}secondary 
                                      {% else %}success
                                      {% endif %}
                             btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                {% if "amount" in order_by %}⬆️
                {% elif "-amount" in order_by %}⬇️
                {% else %} S
                {% endif %}
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="/{% if user %}user_{% endif %}history_balance_sort/~amount{% if user %}/{{user.uuid}}{% endif %}{{ params|get_urlencode }}">S</a></li>
                <li><a class="dropdown-item" href="/{% if user %}user_{% endif %}history_balance_sort/+amount{% if user %}/{{user.uuid}}{% endif %}{{ params|get_urlencode }}">⬆️</a></li>
                <li><a class="dropdown-item" href="/{% if user %}user_{% endif %}history_balance_sort/-amount{% if user %}/{{user.uuid}}{% endif %}{{ params|get_urlencode }}">⬇️</a></li>
              </ul>
            </div>
          </div>
        </th>
        <th scope="col">Hash</th>
        <th scope="col">Wallet</th>
        <th scope="col">Code</th>
        <th scope="col">State</th>
        <th scope="col">Created at
          <div class="btn-group">
            <div class="dropdown">
              <button class="btn btn-{% if 'created_at' not in order_by and '-created_at' not in order_by %}secondary 
                                      {% else %}success
                                      {% endif %}
                             btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                {% if "created_at" in order_by %}⬆️
                {% elif "-created_at" in order_by %}⬇️
                {% else %} S
                {% endif %}
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="/{% if user %}user_{% endif %}history_balance_sort/~created_at{% if user %}/{{user.uuid}}{% endif %}{{ params|get_urlencode }}">S</a></li>
                <li><a class="dropdown-item" href="/{% if user %}user_{% endif %}history_balance_sort/+created_at{% if user %}/{{user.uuid}}{% endif %}{{ params|get_urlencode }}">⬆️</a></li>
                <li><a class="dropdown-item" href="/{% if user %}user_{% endif %}history_balance_sort/-created_at{% if user %}/{{user.uuid}}{% endif %}{{ params|get_urlencode }}">⬇️</a></li>
              </ul>
            </div>
          </div>
        </th>
        <!-- <th scope="col">Update</th> -->
    </thead>
    <tbody>
    <input type="hidden" value="{{user.uuid}}" name="user_uuid_hidden">
    {% for history_balance in history_balance %}
    <input type="hidden" value="{{history_balance.uuid}}" name="uuid_history_balance">
    <tr class="text-center">
    <th scope="row">{{loop.index}}</th>
    <!-- TYPE -->
    {% if not user %}
    <td><a href="/user/{{history_balance.user_id}}">{% if history_balance.user.tg_username %}{{history_balance.user.tg_username}}{% else %}{{history_balance.user.uuid}}{% endif %}</a></td>
    {% endif %}
    <td>{{history_balance.type}}</td>
    <!-- END TYPE -->
    
    <!-- AMOUNT -->
    <td>{{history_balance.amount}}</td>
    <!-- END AMOUNT  -->

    <!-- HASH -->
    <td>{{history_balance.hash}}</td>
    <!-- END HASH -->

    <!-- WALLET -->
    <td>{{history_balance.wallet}}</td>
    <!-- END WALLET -->

    <!-- CODE -->
    <td>{{history_balance.code}}</td>

    <!-- STATE -->
    <td>{{history_balance.state}}</td>
    <!-- END STATE -->
    <td>{{ history_balance.created_at | format_date }}</td>
    
    </tr>  
    {% else %} 
    <tr>
        <td class="text-center">---</td>
        <td class="text-center">---</td>
        <td class="text-center">---</td>
        <td class="text-center">---</td>
        <td class="text-center">---</td>
        <td class="text-center">---</td>
        <td class="text-center">---</td>
        <td class="text-center">---</td>
        {% if not user %}
        <td class="text-center">---</td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>

{% include "include/pagination.html" %}


{% endblock %}