{% block payments_account %}

<!-- PAYMENT ACCOUNT -->
<br>
<h3 class="text-center">Payment Account:
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
        ➕
    </button>
</h3>

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Payment account search
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <form action="">
            <div class="row justify-content-start">
                <div class="col-md-4 mb-3">
                    <!-- INPUT TYPE -->
                    <label for="zip">Type:</label>
                    <div class="input-group mb-3">
                        <select name="type_uuid" class="form-select" aria-label="Type">
                            <option selected>Type account:</option>
                            {% for type in payments_type %}
                            <option value="{{type.uuid}}" {% if type.uuid == search.type_uuid %}selected{% endif %}>{{type.name}} | {{type.currency.name}}</option>
                            {% endfor %}
                        </select>
                        <!-- END TYPE -->
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <!-- INPUT CURRENCY -->
                    <label for="state">Currency:</label>
                    <div class="input-group mb-3">
                        <select name="currency_uuid" class="form-select" aria-label="Currency">
                            <option selected>Currency:</option>
                            {% for curr in currency %}
                            <option value="{{curr.uuid}}" {% if curr.uuid == search.currency_uuid %}selected{% endif %}>{{curr.name}}</option>
                            {% endfor %}
                        </select>
                        <!-- END CURRENCY -->
                    </div>
                    <!-- INPUT DATA -->
                </div>
                <div class="col-md-4 mb-3">
                    <label for="zip">Data:</label>
                    <div class="input-group mb-3">
                    <input type="text" name="payment_data" class="form-control" placeholder="Enter iconatains payment data:"  aria-label="Payment Data"
                           {% if search.payment_data %}
                           value="{{search.payment_data}}"
                           {% endif %}
                           >
                    </div>
                </div>
                <!-- END DATA -->
            </div>
                <div class="row justify-content-start">
                    <!-- INPUT ACTIVE -->
                    <div class="col-md-4 mb-3">
                        <label for="zip">Is Active:</label>
                        <div class="input-group mb-3">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="is_active" type="radio" id="inlineRadio1" value="True"
                                    {% if search.is_active == True %} checked {% endif %}>
                                <label class="form-check-label" for="inlineRadio1">True</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" name="is_active" type="radio" id="inlineRadio2" value="False"
                                    {% if search.is_active == False %} checked {% endif %}>
                                <label class="form-check-label" for="inlineRadio2">False</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" name="is_active" type="radio" id="inlineRadio3" value="None"
                                    {% if search.is_active == None %} checked {% endif %}>
                                <label class="form-check-label" for="inlineRadio3">All</label>
                              </div>
                          </div>
                    </div>
                    <!-- END ACTIVE -->

                    <!-- INPUT UPDATED AT -->
                    <div class="col-md-4 mb-3">
                            <label for="basic-url" class="form-label">Updated at</label>
                            <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon3">From</span>
                            <input type="datetime-local" name="min_updated_at" class="form-control" id="basic-url" aria-describedby="basic-addon3" 
                                value={{search.min_updated_at}}>
                            </div>
                            <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon3">To</span>
                            <input type="datetime-local" name="max_updated_at" class="form-control" id="basic-url" aria-describedby="basic-addon3"
                                    value={{search.max_updated_at}}>
                        </div>
                </div>
                <!-- END UPDATED -->

                <!-- INPUT CREATED AT -->
                <div class="col-md-4 mb-3">
                    <label for="basic-url" class="form-label">Created at</label>
                            <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon3">From</span>
                            <input type="datetime-local" name="min_created_at" class="form-control" id="basic-url" aria-describedby="basic-addon3" 
                                value={{search.min_created_at}}>
                            </div>
                            <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon3">To</span>
                            <input type="datetime-local" name="max_created_at" class="form-control" id="basic-url" aria-describedby="basic-addon3"
                                    value={{search.max_created_at}}>
                        </div>
                </div>
                <!-- END CREATED -->

                <div class="text-center">
                    <button type="submit" class="btn btn-success">Search</button>
                    <a class="btn btn-secondary" href="/{% if user %}user_{% endif %}payments_account/{{user.uuid}}" role="button">Default</a>
                </div>
                </div>
                
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
    <thead>
      <tr class="text-center">  
        <th scope="col">#</th>
        {% if not user %}
        <th scope="col">User</th>
        {% endif %}
        <th scope="col">Type</th>
        <th scope="col">Currency</th>
        <th scope="col">Data</th>
        <th scope="col">is_active</th>
        <th scope="col">Updated at
          <div class="btn-group">
            <div class="dropdown">
              <button class="btn btn-{% if 'updated_at' not in order_by and '-updated_at' not in order_by %}secondary 
                                      {% else %}success
                                      {% endif %}
                             btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                {% if "updated_at" in order_by %}⬆️
                {% elif "-updated_at" in order_by %}⬇️
                {% else %} S
                {% endif %}
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="/sort/{% if user %}user_{% endif %}payments_account/~updated_at{% if user %}/{{user.uuid}}{% endif %}{{ params|get_urlencode }}">S</a></li>
                <li><a class="dropdown-item" href="/sort/{% if user %}user_{% endif %}payments_account/+updated_at{% if user %}/{{user.uuid}}{% endif %}{{ params|get_urlencode }}">⬆️</a></li>
                <li><a class="dropdown-item" href="/sort/{% if user %}user_{% endif %}payments_account/-updated_at{% if user %}/{{user.uuid}}{% endif %}{{ params|get_urlencode }}">⬇️</a></li>
              </ul>
            </div>
          </div>
        </th>
        <th scope="col">Created at
          <div class="btn-group">
            <div class="dropdown">
              <button class="btn btn-{% if 'created_at' not in order_by and '-created_at' not in order_by %}secondary 
                                      {% else %}success
                                      {% endif %}
                             btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                {% if "created_at" in order_by %}⬆️
                {% elif "-created_at" in order_by %}⬇️
                {% else %} S
                {% endif %}
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="/sort/{% if user %}user_{% endif %}payments_account/~created_at{% if user %}/{{user.uuid}}{% endif %}{{ params|get_urlencode }}">S</a></li>
                <li><a class="dropdown-item" href="/sort/{% if user %}user_{% endif %}payments_account/+created_at{% if user %}/{{user.uuid}}{% endif %}{{ params|get_urlencode }}">⬆️</a></li>
                <li><a class="dropdown-item" href="/sort/{% if user %}user_{% endif %}payments_account/-created_at{% if user %}/{{user.uuid}}{% endif %}{{ params|get_urlencode }}">⬇️</a></li>
              </ul>
            </div>
          </div>
        </th>
        </thead>
    <tbody>
    <form action="/update_payments_account{{ params|get_urlencode }}" method="post">
    {% if user %}
    <input type="hidden" value="{{user.uuid}}" name="user_uuid_hidden">
    {% endif %}
    {% for account in payments_account %}
    <tr class="text-center">
    <th scope="row">{{loop.index}}</th>
    <input type="hidden" value="{{account.uuid}}" name="payment_account_uuid">
    {% if user %}
    <input type="hidden" value="{{user.uuid}}" name="user_uuid">
    {% else %}
    <td>
    <div class="input-group mb-3">
      <a class="btn btn-outline-secondary" href="/user/{{account.user_id}}" type="button" id="button-addon1" role="button">
        {% if account.user.tg_username %}{{ account.user.tg_username }}{% else %}User{% endif %}
      </a>
      <input name="user_uuid" type="text" class="form-control" placeholder="User UUID" aria-label="Example text with button addon" aria-describedby="button-addon1"
       value="{{account.user_id}}">      
    </div>
  </td>
    {% endif %}
    <td>
        <select name="type" class="form-select" aria-label="Type">
            {% for type in payments_type %}
            <option value="{{type.uuid}}" {% if type.uuid == account.type.uuid %}selected{% endif %}>{{type.name}}</option>
            {% endfor %}
        </select>
    </td>
    <td>{{account.type.currency.name}}</td>
    <td>
        <textarea name="payment_data" class="form-control" id="" 
                  cols="30" rows="3">{{account.data}}</textarea>
    </td>
    <td>
        <select name="is_active" class="form-select" aria-label="Is active">
            <option value="True" {% if account.is_active == True %}selected{% endif %}>Yes</option>
            <option value="False" {% if account.is_active == False %}selected{% endif %}>No</option>
        </select>
    </td>
    <td>{{account.updated_at | format_date}}</td>
    <td>{{account.created_at | format_date}}</td>
    </tr>   
    {% else %} 
    <tr>
        <td class="text-center">---</td>
        <td class="text-center">---</td>
        <td class="text-center">---</td>
        <td class="text-center">---</td>
        <td class="text-center">---</td>
        <td class="text-center">---</td>
        <td class="text-center">---</td>
        <td class="text-center">---</td>
    </tr>
    {% endfor %}
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        {% if not user %}
        <td></td>
        {% endif %}
        <td class="text-center"><button type="submit" class="btn btn-success btn-sm">Update</button></td>
        </form>
    </tr>
    </tbody>
</table>
</div>
</form>
{% include "include/pagination.html" %}


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
          <form action="/create_payments_account{{ params|get_urlencode }}" method="post">
            {% if user %}
            <input type="hidden" name="redirect_uuid"  value="{{user.uuid}}">
            <input type="hidden" name="user_uuid"  value="{{user.uuid}}">
            {% else %}
            <label for="" class="form-label">User UUID:</label>
            <input name="user_uuid" 
                type="text" class="form-control" placeholder="Enter referal parent UUID" 
                aria-label="Example text with button addon" aria-describedby="button-addon1" required>
            {% endif %}
            <label for="" class="form-label">Type:</label>
            <div class="input-group mb-3">
                <select name="type_uuid" class="form-select" aria-label="Type" required>
                    {% for type in payments_type %}
                    <option value="{{type.uuid}}" {% if type.uuid == search.type_uuid %}selected{% endif %}>{{type.name}} | {{type.currency.name}}</option>
                    {% endfor %}
                </select>
                <!-- END TYPE -->
            </div>
              <label for="" class="form-label">Data:</label>
              <textarea name="data" class="form-control" id="" 
                  cols="30" rows="3"></textarea>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="is_active" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Is active
                    </label>
                  </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success">Create</button>
        </form>
        </div>
      </div>
    </div>
  </div>

<!--END PAYMENT ACCOUNT -->
{% endblock %}