{% block referal %}
<br>
<h3 class="text-center">Referal Bonus: 
  <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
    ➕
</button>
</h3>
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Referal bonus search
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <form method="get">
            
            <div class="row justify-content-start">
              {% if user %}
                <input type="hidden" name="user_id" value="{{user.uuid}}">
                {% else %}
                <div class="col-md-4 mb-3"> 
                <label for="state">User UUID:</label>
                <input type="text" name="user_id" class="form-control" placeholder="Enter user UUID"  aria-label="User UUID"
                              {% if search.user_id %}
                              value="{{search.user_id}}"
                              {% endif %}>
                              </div>
                {% endif %}
              <div class="col-md-4 mb-3">
                    <!-- INPUT INVITED UUID -->
                    <label for="zip">Invited user UUID:</label>
                    <div class="input-group mb-3">
                      <input name="invited_user_id" class="form-control" {% if search.invited_user_id %}value="{{search.invited_user_id}}"{% endif %}>
                      <!-- END INPUT HASH -->
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <!-- INPUT STATE -->
                    <label for="state">State:</label>
                    <select name="state" class="form-select" aria-label="Default select example">
                        <option value="" {% if search.state == None %} selected {% endif %}>State</option>
                        <option value="created" {% if search.state == 'created'%} selected {% endif %}>Created</option>
                        <option value="done" {% if search.state == 'done'%} selected {% endif %}>Done</option>
                        <option value="cancelled" {% if search.state == 'cancelled'%} selected {% endif %}>Cancelled</option>
                    </select>
                    <!-- END INPUT STATE -->
                </div>
                <div class="col-md-4 mb-3">
                    <label for="zip">Amount:</label>
                    <div class="input-group mb-3">
                    <input type="number" name="amount__gte" class="form-control" placeholder="0"  aria-label="Min amount" step="any"
                           {% if search.amount__gte %}
                           value="{{search.amount__gte}}"
                           {% endif %}
                           >
                    <span class="input-group-text">to</span>
                    <input type="number" name="amount__lte" class="form-control" 
                    placeholder="Max amount" 
                    aria-label="Max balance" step="any"
                           {% if search.amount__lte %}
                           value="{{ search.amount__lte }}"
                           {% endif %}
                           >
                    </div>
                </div>
                    <div class="col-md-4 mb-3">
                    <label for="basic-url" class="form-label">Created at</label>
                    <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3">From</span>
                    <input type="datetime-local" name="created_at__gte" class="form-control" id="basic-url" aria-describedby="basic-addon3" 
                           value={{search.created_at__gte}}>
                    </div>
                    <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3">To</span>
                    <input type="datetime-local" name="created_at__lte" class="form-control" id="basic-url" aria-describedby="basic-addon3"
                            value={{search.created_at__lte}}>
                </div>
                </div>
              </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-success">Search</button>
                    <a class="btn btn-secondary" href="/{% if user %}user_{% endif %}referal_children/{{user.uuid}}" role="button">Default</a>
                </div>
                
          </form>
        </div>
      </div>
    </div>
  </div>
  
<table class="table table-striped">
    <thead>
      <tr class="text-center">
        <th scope="col">#</th>
        {% if not user %}
        <th scope="col">User</th>
        {% endif %}
        <th scope="col">Invited User</th>
        <th scope="col">State</th>
        <th scope="col">Amount
            <div class="btn-group">
                <div class="dropdown">
                  <button class="btn btn-{% if 'amount' not in order_by and '-amount' not in order_by %}secondary 
                                          {% else %}success
                                          {% endif %}
                                 btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    {% if "amount" in order_by %}⬆️
                    {% elif "-amount" in order_by %}⬇️
                    {% else %} S
                    {% endif %}
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="/sort/{% if user %}user_{% endif %}referal_children/~amount{% if user %}/{{user.uuid}}{% endif %}{{ params|get_urlencode }}">S</a></li>
                    <li><a class="dropdown-item" href="/sort/{% if user %}user_{% endif %}referal_children/+amount{% if user %}/{{user.uuid}}{% endif %}{{ params|get_urlencode }}">⬆️</a></li>
                    <li><a class="dropdown-item" href="/sort/{% if user %}user_{% endif %}referal_children/-amount{% if user %}/{{user.uuid}}{% endif %}{{ params|get_urlencode }}">⬇️</a></li>
                  </ul>
                </div>
              </div>
        </th>
        <th scope="col">Created at
            <div class="btn-group">
                <div class="dropdown">
                  <button class="btn btn-{% if 'created_at' not in order_by and '-created_at' not in order_by %}secondary 
                                          {% else %}success
                                          {% endif %}
                                 btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    {% if "created_at" in order_by %}⬆️
                    {% elif "-created_at" in order_by %}⬇️
                    {% else %} S
                    {% endif %}
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="/sort/{% if user %}user_{% endif %}referal_children/~created_at{% if user %}/{{user.uuid}}{% endif %}{{ params|get_urlencode }}">S</a></li>
                    <li><a class="dropdown-item" href="/sort/{% if user %}user_{% endif %}referal_children/+created_at{% if user %}/{{user.uuid}}{% endif %}{{ params|get_urlencode }}">⬆️</a></li>
                    <li><a class="dropdown-item" href="/sort/{% if user %}user_{% endif %}referal_children/-created_at{% if user %}/{{user.uuid}}{% endif %}{{ params|get_urlencode }}">⬇️</a></li>
                  </ul>
                </div>
              </div>
        </th>
    </thead>
    <tbody>
      <form action="/update_referal_children{{ params|get_urlencode }}" method="post">
      {% if user %}
      <input type="hidden" value="{{user.uuid}}" name="user_uuid_hidden">
      {% endif %} 
      {% for referal_bonus in send_referal %}
       <tr class="text-center">
         <input type="hidden" name="referal_uuid" value="{{referal_bonus.uuid}}">
        <th scope="row">{{loop.index}}</th>
        {% if not user %}
        <td class="text-center">
          <a href="/user/{{referal_bonus.user_id}}">{% if referal_bonus.user.tg_username %}{{referal_bonus.user.tg_username}}{% else %}{{referal_bonus.user_id}}{% endif %}</a>
        {% endif %}
        <td class="text-center">
          <a href="/user/{{referal_bonus.invited_user_id}}">{% if referal_bonus.invited_user.tg_username %}{{referal_bonus.invited_user.tg_username}}{% else %}{{referal_bonus.invited_user_id}}{% endif %}</a>
            <!-- <div class="input-group mb-3">
                <a class="btn btn-outline-secondary" href="/user/{{referal_bonus.invited_user.uuid}}" type="button" id="button-addon1" role="button">
                  {% if referal_bonus.invited_user.tg_username %} {{ referal_bonus.invited_user.tg_username }}{% else %}Children{% endif %}
                </a>
                <input name="referal_parent" value="{{referal_bonus.invited_user.uuid}}" 
                       type="text" class="form-control" placeholder="Referal Parent UUID" 
                       aria-label="Example text with button addon" aria-describedby="button-addon1">
              </div> -->
        <td>
            <select name="state" class="form-select" aria-label="Default select example">
                <option value="created" {% if referal_bonus.state == "created" %}selected{% endif %}>Created</option>
                <option value="cancelled" {% if referal_bonus.state == "cancelled" %}selected{% endif %}>Cancelled</option>
                <option value="done" {% if referal_bonus.state == "done" %}selected{% endif %}>Done</option>
            </select>

        </td>
        <td>
            <input name="amount" type="number" class="form-control text-center" placeholder="Amount" 
        value="{{referal_bonus.amount}}" aria-label="Amount" step="any" required>
        </td>
        <td>{{referal_bonus.created_at | format_date }}</td>
          <!-- <select name="delete" class="form-select" aria-label="Default select example">
            <option value="False" selected>No</option>
            <option value="True">Yes</option>
            
        </select> -->

       </tr>
       {% else %} 
    <tr>
        <td class="text-center">---</td>
        <td class="text-center">---</td>
        <td class="text-center">---</td>
        <td class="text-center">---</td>
        <td class="text-center">---</td>
        <td class="text-center">---</td>
        <td class="text-center">---</td>
        {% if not user %}
        <td class="text-center">---</td>
        {% endif %}
    </tr>
       {% endfor %}
       <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        {% if not user %}
        <td></td>
        {% endif %}
        <td class="text-center"><button type="submit" class="btn btn-success btn-sm">Update</button></td>
        </form>
    </tr>
    </tbody>
</table>
<!--END REFERAL BONUS -->
{% include "include/pagination.html" %}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <form action="/create_referal{{ params|get_urlencode }}" method="post">
          {% if user %}
          <input type="hidden" name="redirect_uuid"  value="{{user.uuid}}">
          <input type="hidden" name="user_id"  value="{{user.uuid}}">
          {% else %}
          <label for="" class="form-label">Parent UUID:</label>
          <input name="user_id" 
                type="text" class="form-control" placeholder="Enter referal parent UUID" 
                aria-label="Example text with button addon" aria-describedby="button-addon1" required>
          {% endif %}
          <label for="" class="form-label">Children UUID:</label>
          <input name="invited_user_id" 
                type="text" class="form-control" placeholder="Enter referal children UUID" 
                aria-label="Example text with button addon" aria-describedby="button-addon1" required>
          <label for="" class="form-label">Amount:</label>
          <div class="input-group flex-nowrap">
            <input name="amount" type="number" class="form-control text-center" placeholder="Amount" value="" aria-label="Amount"  aria-describedby="addon-wrapping" step="any" required>
            <span class="input-group-text" id="addon-wrapping">TON</span>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success">Create</button>
      </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}