

<!-- PAYMENT ACCOUNT -->
<br>
<h3 class="text-center">Payment Account:</h3>
<table class="table table-striped">
    <thead>
      <tr class="text-center">  
        <th scope="col">#</th>
        <th scope="col">Type</th>
        <th scope="col">Data</th>
        <th scope="col">is_active</th>
        <th scope="col">Updated at</th>
        <th scope="col">Created at</th>
        </thead>
    <tbody>
        
    {% for payments_account in user.payments_account %}
    <tr class="text-center">
    <th scope="row">{{loop.index}}</th>
    <td>{{payments_account.type.name}}</td>
    <td>{% for k,v in payments_account.data.items() %}{{k}} - {{v}}<br>{% endfor %}</td>
    <td>{{payments_account.is_active}}</td>
    <td>{{payments_account.updated_at | format_date}}</td>
    <td>{{payments_account.created_at | format_date}}</td>
    </tr>   
    {% else %} 
    <tr>
        <td class="text-center">---</td>
        <td class="text-center">---</td>
        <td class="text-center">---</td>
        <td class="text-center">---</td>
        <td class="text-center">---</td>
        <td class="text-center">---</td>
        <td class="text-center">---</td>
        <td class="text-center">---</td>
    </tr>
    {% endfor %}   
    </tbody>
</table>
<!--END PAYMENT ACCOUNT -->