{% extends "user_detail.html" %}
{% block user_relation %}
<!-- CHANGE BALANCE -->
<br>
<!-- FILTER -->
<h3 class="text-center">Change Balance:</h3>
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button text-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Change balance filter
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <form method="get" action="/user_history_balance/{{user.uuid}}{{ params|get_urlencode }}">
            <input type="hidden" name="user_uuid_hidden" value="{{user.uuid}}">
            <!-- Row first -->
            <div class="row justify-content-start">
                <div class="col-md-4 mb-3">
                    <!-- SELECT TYPE -->
                    <label for="state">Type:</label>
                    <select name="type" class="form-select" aria-label="Default select example">
                        <option value="" {% if history_balance_search.type == None %} selected {% endif %}>Type</option>
                        <option value="topup" {% if history_balance_search.type == 'topup'%} selected {% endif %}>Top Up</option>
                        <option value="withdraw" {% if history_balance_search.type == 'withdraw'%} selected {% endif %}>Withdraw</option>
                    </select>
                    <!-- END SELECT TYPE -->
                  </div>
                <div class="col-md-4 mb-3">
                  <!-- INPUT AMOUNT -->
                  <label for="zip">Amount:</label>
                  <div class="input-group mb-3">
                    <input type="number" name="min_amount" class="form-control" placeholder="0"  aria-label="Min balance" step="any"
                           {% if history_balance_search.min_amount %}
                           value="{{history_balance_search.min_amount}}"
                           {% endif %}
                           >
                    <span class="input-group-text">to</span>
                    <input type="number" name="max_amount" class="form-control" 
                    placeholder={% if history_balance_search.max_amount_show %}"{{history_balance_search.max_amount_show}}" {% else %}0{% endif %} 
                    aria-label="Max balance" step="any"
                           {% if history_balance_search.max_amount %}
                           value="{{ history_balance_search.max_amount }}"
                           {% endif %}
                           >
                    <!-- END INPUT AMOUNT -->
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <!-- INPUT HASH -->
                  <label for="zip">Hash:</label>
                  <div class="input-group mb-3">
                    <textarea name="hash" class="form-control" id="" cols="15" rows="1">{% if history_balance_search.hash != None %}{{history_balance_search.hash}}{% endif %}</textarea>
                    <!-- END INPUT HASH -->
                  </div>
                </div> 
                
                
                <div class="row justify-content-start">
                <div class="col-md-4 mb-3">
                  <!-- INPUT WALLET -->
                  <label for="zip">Wallet:</label>
                  <div class="input-group mb-3">
                    <textarea name="wallet" class="form-control" id="" cols="15" rows="1">{% if history_balance_search.wallet != None %}{{history_balance_search.wallet}}{% endif %}</textarea>
                    <!-- END INPUT WALLET -->
                  </div>
                </div>

                <div class="col-md-4 mb-3">
                  <!-- INPUT CODE -->
                  <label for="zip">Code:</label>
                  <div class="input-group mb-3">
                    <textarea name="code" class="form-control" id="" cols="15" rows="1">{% if history_balance_search.code != None %}{{history_balance_search.code}}{% endif %}</textarea>
                    <!-- END INPUT CODE -->
                  </div>
                </div>
              
                <div class="col-md-4 mb-3">
                  <!-- SELECT TYPE -->
                  <label for="state">State:</label>
                  <select name="state" class="form-select" aria-label="Default select example">
                      <option value = "" {% if history_balance_search.state == None %} selected {% endif %}>State</option>
                      <option value="created" {% if history_balance_search.state == 'created'%} selected {% endif %}>Created</option>
                      <option value="done" {% if history_balance_search.state == 'done'%} selected {% endif %}>Done</option>
                      <option value="cancelled" {% if history_balance_search.state == 'cancelled'%} selected {% endif %}>Cancelled</option>
                  </select>
                  <!-- END SELECT TYPE -->
                </div>
                </div>
                <div class="row justify-content-start">
                  <div class="col-md-4 mb-3"></div>
                  <div class="col-md-4 mb-3">
                  <label for="basic-url" class="form-label">Created at</label>
                  <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon3">From</span>
                  <input type="datetime-local" name="min_created_at" class="form-control" id="basic-url" aria-describedby="basic-addon3" 
                         value={{history_balance_search.min_created_at}}>
                  </div>
                  <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon3">To</span>
                  <input type="datetime-local" name="max_created_at" class="form-control" id="basic-url" aria-describedby="basic-addon3"
                          value={{history_balance_search.max_created_at}}>
              </div>
              </div>
              <div class="col-md-4 mb-3"></div>
              <div class="text-center">
                  <button type="submit" class="btn btn-success">Search</button>
                  <a class="btn btn-secondary" href="/user_history_balance/{{user.uuid}}" role="button">Deafult</a>
              </div>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<!-- END FILTER -->
<br>
<div class="table-responsive">
<table class="table table-striped">
    <thead>
      <tr class="text-center">  
        <th scope="col">#</th>
        <th scope="col">Type</th>
        <th scope="col">Amount
          <div class="btn-group">
            <div class="dropdown">
              <button class="btn btn-{% if 'amount' not in order_by and '-amount' not in order_by %}secondary 
                                      {% else %}success
                                      {% endif %}
                             btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                {% if "amount" in order_by %}⬆️
                {% elif "-amount" in order_by %}⬇️
                {% else %} S
                {% endif %}
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="/user_history_balance_sort/{{user.uuid}}/~amount{{ params|get_urlencode }}">S</a></li>
                <li><a class="dropdown-item" href="/user_history_balance_sort/{{user.uuid}}/+amount{{ params|get_urlencode }}">⬆️</a></li>
                <li><a class="dropdown-item" href="/user_history_balance_sort/{{user.uuid}}/-amount{{ params|get_urlencode }}">⬇️</a></li>
              </ul>
            </div>
          </div>
        </th>
        <th scope="col">Hash</th>
        <th scope="col">Wallet</th>
        <th scope="col">Code</th>
        <th scope="col">State</th>
        <th scope="col">Created at
          <div class="btn-group">
            <div class="dropdown">
              <button class="btn btn-{% if 'created_at' not in order_by and '-created_at' not in order_by %}secondary 
                                      {% else %}success
                                      {% endif %}
                             btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                {% if "created_at" in order_by %}⬆️
                {% elif "-created_at" in order_by %}⬇️
                {% else %} S
                {% endif %}
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="/user_history_balance_sort/{{user.uuid}}/~created_at{{ params|get_urlencode }}">S</a></li>
                <li><a class="dropdown-item" href="/user_history_balance_sort/{{user.uuid}}/+created_at{{ params|get_urlencode }}">⬆️</a></li>
                <li><a class="dropdown-item" href="/user_history_balance_sort/{{user.uuid}}/-created_at{{ params|get_urlencode }}">⬇️</a></li>
              </ul>
            </div>
          </div>
        </th>
        <!-- <th scope="col">Update</th> -->
    </thead>
    <tbody>
    <form action="/update_history_balance{{ params|get_urlencode }}" method="post">
    <input type="hidden" value="{{user.uuid}}" name="user_uuid_hidden">
    {% for history_balance in history_balance %}
    <input type="hidden" value="{{history_balance.uuid}}" name="uuid_history_balance">
    <tr class="text-center">
    <th scope="row">{{loop.index}}</th>
    <!-- TYPE -->
    <td>
        <select name="type" class="form-select" aria-label="Default select example">
        {% if history_balance.type == "topup" %}
        <option selected value="topup">Top up</option>
        <option value="withdraw">Withdraw</option>
        {% else %}
        <option selected value="withdraw">Withdraw</option>
        <option value="topup">Top up</option>
        {% endif %}
      </select>
    </td>
    <!-- END TYPE -->
    
    <!-- AMOUNT -->
    <td>
        <input name="amount" type="number" class="form-control text-center" placeholder="Amount" 
        value="{{history_balance.amount}}" aria-label="Amount" step="any">
    </td>
    <!-- END AMOUNT  -->

    <!-- HASH -->
    <td>
        <textarea name="hash" type="text" class="form-control text-center" placeholder="Hash" 
        aria-label="Hash">{% if history_balance.hash !=None %}{{history_balance.hash}}{%endif%}</textarea>
    </td>
    <!-- END HASH -->

    <!-- WALLET -->
    <td>
        <textarea name="wallet" type="text" class="form-control text-center" placeholder="Wallet" 
        aria-label="Wallet">{% if history_balance.wallet != None %}{{history_balance.wallet}}{%endif%}</textarea>
    </td>
    <!-- END WALLET -->

    <!-- CODE -->
    <td>
        <textarea name="code" type="text" class="form-control text-center" placeholder="Code" 
        aria-label="Code">{% if history_balance.code == None %}{% else %}{{history_balance.code}}{% endif %}</textarea>
    </td>

    <!-- STATE -->
    <td>
        <select name="state" class="form-select" aria-label="Default select example">
            <option value="created" {% if history_balance.state == "created" %}selected{% endif %}>Created</option>
            <option value="cancelled" {% if history_balance.state == "cancelled" %}selected{% endif %}>Cancelled</option>
            <option value="done" {% if history_balance.state == "done" %}selected{% endif %}>Done</option>
            
        </select>
    </td>
    <!-- END STATE -->
    <td>{{ history_balance.created_at | format_date }}</td>
    
    </tr>  
    {% else %} 
    <tr>
        <td class="text-center">---</td>
        <td class="text-center">---</td>
        <td class="text-center">---</td>
        <td class="text-center">---</td>
        <td class="text-center">---</td>
        <td class="text-center">---</td>
        <td class="text-center">---</td>
        <td class="text-center">---</td>
    </tr>
    {% endfor %}
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><td class="text-center"><button type="submit" class="btn btn-success btn-sm">Update</button></td></td> 
        </form>
    </tr>
    </tbody>
</table>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center pagination-lg">
    <li class="page-item">
      {% if history_balance_previous_page %}
      <a class="page-link" href="/user_history_balance/{{user.uuid}}{{params|get_urlencode}}{% if params|get_urlencode == '' %}?{% else %}&{% endif %}page={{history_balance_previous_page}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
      {% endif %}
    </li>

    {% if history_balance_last_page - history_balance_page >= 2 %}
        {% if history_balance_page > 2 %}
          <li class="page-item"><a class="page-link" href="{{params|get_urlencode}}{% if params|get_urlencode == '' %}?{% else %}&{% endif %}page=1">1</a></li>
          <li class="page-item"><a class="page-link" href="" disabled="disabled">...</a></li>
        {% endif %}
        <li class="page-item active"><a class="page-link" href="">{{history_balance_page}} </a></li>
        <li class="page-item">
            <a class="page-link" 
            href="/user_history_balance/{{user.uuid}}{{params|get_urlencode}}{% if params|get_urlencode == '' %}?{% else %}&{% endif %}page={{history_balance_page+1}}">
            {{history_balance_page+1}}</a></li>
        <li class="page-item">
          <a class="page-link" 
             href="/user_history_balance/{{user.uuid}}{{params|get_urlencode}}{% if params|get_urlencode == '' %}?{% else %}&{% endif %}page={{history_balance_page+2}}">
             {{history_balance_page+2}}
          </a>
        </li>
        {% if history_balance_last_page - history_balance_page != 2 %}
          <li class="page-item"><a class="page-link" href="" disabled="disabled">...</a></li>
          <li class="page-item"><a class="page-link" 
            href="/user_history_balance/{{user.uuid}}{{params|get_urlencode}}{% if params|get_urlencode == '' %}?{% else %}&{% endif %}page={{history_balance_last_page}}">{{history_balance_last_page}}</a></li>
        {% endif %}
      {% elif history_balance_last_page - history_balance_page >= 1 %}
        {% if history_balance_page > 2 %}
          <li class="page-item"><a class="page-link" 
          href="/user_history_balance/{{user.uuid}}{{params|get_urlencode}}{% if params|get_urlencode == '' %}?{% else %}&{% endif %}page=1">1</a></li>
          <li class="page-item"><a class="page-link" href="" disabled="disabled">...</a></li>
        {% endif %}
        <li class="page-item active"><a class="page-link" href="">{{history_balance_page}}</a></li>
        <li class="page-item"><a class="page-link" 
          href="/user_history_balance/{{user.uuid}}{{params|get_urlencode}}{% if params|get_urlencode == '' %}?{% else %}&{% endif %}page={{history_balance_page+1}}">{{history_balance_page+1}}</a></li>
      {% elif history_balance_last_page - history_balance_page >= 0 %}
        {% if history_balance_page > 2 %}
            <li class="page-item"><a class="page-link" href="/user_history_balance/{{user.uuid}}{{params|get_urlencode}}{% if params|get_urlencode == '' %}?{% else %}&{% endif %}page=1">1</a></li>
            <li class="page-item"><a class="page-link" href="" disabled="disabled">...</a></li>
        {% endif %}
        <li class="page-item active"><a class="page-link" href="/user_history_balance/{{user.uuid}}{{params|get_urlencode}}{% if params|get_urlencode == '' %}?{% else %}&{% endif %}page=1">{{history_balance_page}}</a></li>
      {% endif %}

    
      {% if history_balance_next_page %}
      <a class="page-link" 
      href="/user_history_balance/{{user.uuid}}{{params|get_urlencode}}{% if params|get_urlencode == '' %}?{% else %}&{% endif %}page={{history_balance_next_page}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      {% endif %}
      </a>
    </li>
  </ul>
</nav>
</div>
<!-- END CHANGE BALANCE -->
{% endblock %}