{% extends "base.html" %}
{% block title %}Users{% endblock %}
{% block body %}


<div class="accordion" id="accordionExample">
    <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Search
        </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            
            <form method="get">
            <!-- Row first -->
            <div class="row justify-content-start">
                <!-- form Username -->
                <div class="col-md-4 mb-3">
                  <label for="zip">Username:</label>
                  <input name="tg_username__icontains" type="text" class="form-control" placeholder="Username:" 
                  {% if username != None %}value="{{search.tg_username__icontains}}"{% endif %}>
                </div>
                <!-- endform Username -->
                
                <!-- form Balance -->
                <div class="col-md-4 mb-3">
                  <label for="zip">Balance:</label>
                  <div class="input-group mb-3">
                    <input type="number" name="balance__gte" class="form-control" placeholder="Min balance"  aria-label="Min balance" step="any"
                           value={{search.balance__gte}}>
                    <span class="input-group-text">to</span>
                    <input type="number" name="balance__lte" class="form-control" placeholder="Max balance" aria-label="Max balance" step="any"
                           value={{search.balance__lte}}>
                  </div>
                </div>
                <!-- endform Balance -->
                
                <!-- from Frozen Balance -->
                <div class="col-md-4 mb-3">
                  <label for="zip">Frozen balance:</label>
                  <div class="input-group mb-3">
                    <input type="number" name="frozen_balance__gte" class="form-control" placeholder="Min balance"  aria-label="Min balance"
                           value={{search.frozen_balance__gte}}>
                    <span class="input-group-text">to</span>
                    <input type="number" name="frozen_balance__lte" class="form-control" placeholder="Max balance" aria-label="Max balance"
                           value={{search.frozen_balance__lte}}>
                  </div>
                </div>
                </div>
                <!-- endform Frozen Balance -->


                <!-- EndRow first -->
                <!-- Form Referal -->
                <div class="row justify-content-start">
                <div class="col-md-4 mb-3">
                  <label for="zip">Referal parent:</label>
                  <div class="input-group mb-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="referal_user_id__isnull" id="inlineRadio1" value="False" 
                                {% if search.referal_user_id__isnull == False %} checked {% endif %}>
                        <label class="form-check-label" for="inlineRadio1">Yes</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="referal_user_id__isnull" id="inlineRadio2" value="True"
                                {% if search.referal_user_id__isnull == True %} checked {% endif %}>
                        <label class="form-check-label" for="inlineRadio2">No</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="referal_user_id__isnull" id="inlineRadio3" value="None"
                                {% if search.referal_user_id__isnull == None %} checked {% endif %}>
                        <label class="form-check-label" for="inlineRadio3">All</label>
                      </div>
                  </div>
                </div>
                <!-- endform Referal -->
                
                <!-- form Lang -->
                <div class="col-md-4 mb-3">
                  <label for="zip">Lang:</label>
                  <div class="input-group mb-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name="lang" type="radio" name="lang" id="inlineRadio1" value="en"
                            {% if search.lang == "en" %} checked {% endif %}>
                        <label class="form-check-label" for="inlineRadio1">En</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" name="lang" type="radio" name="lang" id="inlineRadio2" value="ru"
                            {% if search.lang == "ru" %} checked {% endif %}>
                        <label class="form-check-label" for="inlineRadio2">Ru</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" name="lang" type="radio" name="lang" id="inlineRadio3" value="None"
                            {% if search.lang == None %} checked {% endif %}>
                        <label class="form-check-label" for="inlineRadio3">All</label>
                      </div>
                  </div>
                </div>
                <!-- endform Lang -->

                <!-- form created at -->
                <div class="col-md-4 mb-3">
                    <label for="basic-url" class="form-label">Created at</label>
                    <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3">From</span>
                    <input type="datetime-local" name="created_at__gte" class="form-control" id="basic-url" aria-describedby="basic-addon3" 
                           value={{search.created_at__gte}}>
                    </div>
                    <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3">To</span>
                    <input type="datetime-local" name="created_at__lte" class="form-control" id="basic-url" aria-describedby="basic-addon3"
                            value={{search.created_at__lte}}>
                </div>
                </div>
                <!-- endform created at -->
              </div>
              <!-- endrow -->
        
            <div class="text-center">
                <button type="submit" class="btn btn-success">Search</button>
                <a class="btn btn-secondary" href="/users" role="button">Deafult</a>
            </div>
    </form>
        </div>
    </div>
    </div>
</div>


  
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <!-- Sort username -->
        <th scope="col">Username 
          <div class="btn-group">
          <div class="dropdown">
            <button class="btn btn-{% if 'tg_username' not in order_by and '-tg_username' not in order_by %}secondary 
                                    {% else %}success
                                    {% endif %}
                           btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              {% if "tg_username" in order_by %}⬆️
              {% elif "-tg_username" in order_by %}⬇️
              {% else %} S
              {% endif %}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="/sort/users/~tg_username{{ params|get_urlencode }}">S</a></li>
              <li><a class="dropdown-item" href="/sort/users/+tg_username{{ params|get_urlencode }}">⬆️</a></li>
              <li><a class="dropdown-item" href="/sort/users/-tg_username{{ params|get_urlencode }}">⬇️</a></li>
            </ul>
          </div>
        </div>
        </th>
        <!-- endsort username -->

        <!-- sort balance -->
        <th scope="col">Balance 
          <div class="btn-group">
            <div class="dropdown">
              <button class="btn btn-{% if 'balance' not in order_by and '-balance' not in order_by %}secondary 
                                      {% else %}success
                                      {% endif %}
                             btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                {% if "balance" in order_by %}⬆️
                {% elif "-balance" in order_by %}⬇️
                {% else %} S
                {% endif %}
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="/sort/users/~balance{{ params|get_urlencode }}">S</a></li>
                <li><a class="dropdown-item" href="/sort/users/+balance{{ params|get_urlencode }}">⬆️</a></li>
                <li><a class="dropdown-item" href="/sort/users/-balance{{ params|get_urlencode }}">⬇️</a></li>
              </ul>
            </div>
          </div>
        </th>
        <!-- endsort balance -->
        
    
        <!-- sort frozenbalance -->
        <th scope="col">Frozen Balance 
          <div class="btn-group">
            <div class="dropdown">
              <button class="btn btn-{% if 'frozen_balance' not in order_by and '-frozen_balance' not in order_by %}secondary 
                                      {% else %}success
                                      {% endif %}
                             btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                {% if "frozen_balance" in order_by %}⬆️
                {% elif "-frozen_balance" in order_by %}⬇️
                {% else %} S
                {% endif %}
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="/sort/users/~frozen_balance{{ params|get_urlencode }}">S</a></li>
                <li><a class="dropdown-item" href="/sort/users/+frozen_balance{{ params|get_urlencode }}">⬆️</a></li>
                <li><a class="dropdown-item" href="/sort/users/-frozen_balance{{ params|get_urlencode }}">⬇️</a></li>
              </ul>
            </div>
          </div>
        </th>
        <!-- endsort balance -->
        
        
        <th scope="col">Referal parent</th>
        <th scope="col">Lang</th>

        <!-- sort frozenbalance -->
        <th scope="col">Created at 
          <div class="btn-group">
            <div class="dropdown">
              <button class="btn btn-{% if 'created_at' not in order_by and '-created_at' not in order_by %}secondary 
                                      {% else %}success
                                      {% endif %}
                             btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                {% if "created_at" in order_by %}⬆️
                {% elif "-created_at" in order_by %}⬇️
                {% else %} S
                {% endif %}
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="/sort/users/~created_at{{ params|get_urlencode }}">S</a></li>
                <li><a class="dropdown-item" href="/sort/users/+created_at{{ params|get_urlencode }}">⬆️</a></li>
                <li><a class="dropdown-item" href="/sort/users/-created_at{{ params|get_urlencode }}">⬇️</a></li>
              </ul>
            </div>
          </div>
        </th>
        <!-- endsort balance -->
        <th scope="col">Detail</th>
      </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{user.tg_username}}</td>
                <td>{{user.balance}}</td>
                <td>{{user.frozen_balance}}</td>
                {% if user.referal_user_id == None %}
                    <td>❌</td>
                {% else %}
                    <td><a class="btn btn-primary btn-sm" href="/user/{{user.referal_user_id}}" role="button">Parent</a></td>
                {% endif %}
                <td>{{user.lang}}</td>
                <td>{{ user.created_at | format_date }}</td>
                <td><a class="btn btn-primary btn-sm" href="/user/{{user.uuid}}" role="button">Detail</a></td>
            </tr>
        {% endfor %}
    </tbody>
  </table>


 {% include "include/pagination.html" %}

{% endblock %}